*{
    margin: 0;
    padding: 0;
}

/* nav{
    display: flex;
} */


.email {
    width: 60px;
    display: inline-block

}
.email-link{
    display: inline-block;
    margin-left: 300px;
}

.contact-links{
    display: flex;
    justify-content: flex-end;
}
